@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

[data-rk] {
}

/* Scrollbar styles */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #8993d1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a82b8;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

// Three dot loading animation
.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  width: 100%;
  border-radius: 15px;
}

.loading__dot {
  animation: dot ease-in-out 1s infinite;
  background-color: #8993d1;
  border-radius: 50px;
  display: inline-block;
  height: 20px;
  margin: 5px;
  width: 20px;
}

.loading__dot:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading__dot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes dot {
  0% { background-color: #8993d1; transform: scale(0.5); }
  50% { background-color: #8993d1; transform: scale(0.7); }
  100% { background-color: #8993d1; transform: scale(0.5); }
}
